body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    font-family: arial;
    font-size: 24px;
    border: 15px solid white;
    padding: 50px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
  }
  .form{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  }

  #mobileno,#email {
    grid-column: 2 / span 2;
  }
  
  /* Full-width input fields */
  /* .block{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    
  } */
 

  /* .inline{
    display:inline;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
  } */
  
  input[type=text]:focus, input[type=password]:focus {
    border: 2px solid powderblue;
    border-radius:5px ;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  /* .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  } */
  
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: greenyellow;
    text-align: center;
    cursor: pointer;
  }
  .register{
    background-color: powderblue;
    text-align: center;
    cursor: pointer;
  }
  .register:hover {
    opacity: 0.7;
  }
  .signin:hover {
    opacity: 0.7;
  }